<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
</head>
<body>
    <a th:href="@{/test/admin}">admin</a>
	<br/>

	<a th:href="@{/test/manager}">manager</a>
	<br/>

	<a th:href="@{/test/user}">user</a>
	<br/>

	<a th:href="@{/test/salesman}">salesman</a>
	<br/>

	<a th:href="@{/test/developer}">developer</a>
	<br/>

	<a th:href="@{/secured/test}">/secured/test</a>
	<br/>

	<a th:href="@{/secured/test/postfilter}">/secured/test/postfilter</a>
	<br/>

	<a th:href="@{/secured/test/prefilter}">/secured/test/prefilter</a>
	<br/>

	<a th:href="@{/logout}">退出</a>
	<br/>
</body>
</html>